# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Datasets
datasets/*.csv

# Visualizations
visualizations/visualizations/*.png
visualizations/visualizations/*.html

# Structure
structure/*.pt
structure/*.json

training/*.pt

# Analysis
analysis/*.py